/* ВСЕ ПЕРЕМЕННЫЕ ДЛЯ ШАПКИ  */
:root{

    /* /////// ПЕРЕМЕННЫЕ НАХОДИТСЯ В ФАЙЛЕ header.css, это в основном глобальные переменные для всех типов шапок ///////  */

    /* Фон шапки  */
    --header__bg: #fff;

    /* -----КНОПКА каталог товаров-----  */
    --catalog-btn__bg: #fff; /* фон */
    --catalog-btn__borderColor: #333333; /* обводка */
    --catalog-btn__color: #333333; /* цвет текста */
    --catalog-btn__burgerColor: #333333; /* цвет бургера в кнопке - каталог товаров  */

    /* -----ПОСЛЕ ХОВЕРА - КНОПКА каталог товаров----- */
    --catalog-btn__bg--hover: #2363D1; /*  фон */
    --catalog-btn__borderColor--hover: #2363D1; /* обводка */
    --catalog-btn__color--hover: #fff; /* цвет текста */
    --catalog-btn__burgerColor--hover: #fff; /* цвет бургера в кнопке */

    /* ----- ПОЛЕ Поиск-----  */
    --search-box__bg: #fff; /* фон */
    --search-box__borderColor: #333333; /* обводка */
    --search-box__color: #000; /* цвет текста */
    --search-box__placeholderColor: #333333; /* цвет placeholder */

    /* ----- КНОПКА В ПОЛЕ Поиск-----  */
    --search-box-submit__bg: #dadada; /* фон */
    --search-box-submit__borderColor: #333333; /* обводка */

    /* -----ПОСЛЕ ХОВЕРА - КНОПКА В ПОЛЕ Поиск-----  */
    --search-box-submit__bg--hover: #2363D1; /* фон */
    --search-box-submit__borderColor--hover: #2363D1; /* обводка */

    /* -----РЕЗУЛЬТАТ ТОВАРА В ПОЛЕ Поиск-----  */
    --search-box-item__bg: #fff; /* фон */
    --search-box-item__borderBottomColor: rgba(0, 0, 0, 0.13); /* обводка с низу */
    --search-box-item__color: #000; /* цвет текста */
    --search-box-item__priceColor: #1C52AC; /* цвет текста цены */

    /* -----ПОСЛЕ ХОВЕРА - РЕЗУЛЬТАТ ТОВАРА В ПОЛЕ Поиск-----  */
    --search-box-item__bg--hover: rgba(0, 0, 0, 0.048); /* фон */

    /* -----КНОПКА "ВСЕ КАТАЛОГИ" В РЕЗУЛЬТАТЕ ТОВАРА ИЗ ПОЛЕ Поиск-----  */
    --search-box-all-item__bg: #333333; /* фон */
    --search-box-all-item__color: #fff; /* цвет текста */

    /* -----ПУНКТЫ МЕНЮ-----  */
    --nav-item__color: #333333; /* цвет */
    --nav-item-active__color: #2363D1; /* цвет активного пункта и ХОВЕР тоже */

    /* -----ДРУГИЕ ПУНКТЫ (число товаров в корзине, выйти...)-----  */
    --option-item__color: #333333; /* цвет */
    --option-item-active__color: #2363D1; /* цвет активного пункта и ХОВЕР тоже */
    
    /* -----Показать...10-53-25 (Текст и телефон)-----  */ 
    --contact-box-text__color: #333333; /* цвет текста "Показать..." */
    --contact-box-text-circle__color: #2363D1; /* цвет мигающий точка */ 
    --contact-box-tel__color: #333333; /* цвет текста телефона */ 

    /* -----ПОСЛЕ ХОВЕРА - Показать...10-53-25 (Текст и телефон)-----  */ 
    --contact-box-text__color--hover: #2363D1; /* цвет текста */
    --contact-box-tel__color--hover: #2363D1; /* цвет текста телефона */

    /* -----Запросить звонок (НЕ КВАДРАТНАЯ КНОПКА)----- */
    --contact-box-call-link__color: #333333; /* цвет текста */

    /* -----ПОСЛЕ ХОВЕРА - Запросить звонок (НЕ КВАДРАТНАЯ КНОПКА)----- */
    --contact-box-call-link__color--hover: #2363D1; /* цвет текста */

    /* -----Войти / Зарегестрироваться----- */
    --contact-box-login-register__color: #333333; /* цвет текста */

    /* -----ПОСЛЕ ХОВЕРА - Войти / Зарегестрироваться----- */
    --contact-box-login-register__color--hover: #2363D1; /* цвет текста */



    /* /////// ПЕРЕМЕННЫЕ НАХОДИТСЯ В ФАЙЛЕ header-v3.css ///////  */

    /* -----Меню КНОПКА-----  */
    --menu-btn__bg: #dadada; /* фон */
    --menu-btn__borderColor: #333333; /* обводка */
    --menu-btn__color: #fff; /* цвет текста */

    /* -----ПОСЕЛ ХОВЕРА - Меню КНОПКА-----  */
    --menu-btn__bg--hover: #2363D1; /* фон */
    --menu-btn__borderColor--hover: #2363D1; /* обводка */
    --menu-btn__color--hover: #fff; /* цвет текста */




    /* /////// ПЕРЕМЕННЫЕ НАХОДИТСЯ В ФАЙЛЕ header-catalog.css ///////  */

    /* -----ФОН Меню и ФОН Каталога-----  */
    --menu-box_catalog-box__bg: #434343; /* фон */
    
    /* -----ПОСЕ ХОВЕРА ПУНКТОВ - ПУНКТЫ Меню и ПУНКТЫ Каталога -----  */
    --menu-box_catalog-box-ul-a__color: #fff; /* цвет текста пунктов */
    --menu-box_catalog-box-ul-a__color--hover: #2363D1; /* цвет текста пунктов */
    --menu-box_catalog-box-ul-a__underlineColor--hover: #2363D1; /* цвет подчеркивания если есть */




    /* /////// ПЕРЕМЕННЫЕ НАХОДИТСЯ В ФАЙЛЕ header-fat-v2.css и в trapeze.css, styles.css, new.css ///////  */

    /* -----КНОПКА Запросить звонок-----  */
    --c-box-fat-v2-order-call__bg: #fff; /* фон */
    --c-box-fat-v2-order-call__color: #333333; /* цвет текста */
    --c-box-fat-v2-order-call__borderColor: #333333; /* обводка */

    /* -----ПОСЛСЕ ХОВЕРА - КНОПКА Запросить звонок-----  */
    --c-box-fat-v2-order-call__bg--hover: #2363D1; /* фон */
    --c-box-fat-v2-order-call__color--hover: #fff; /* цвет текста */
    --c-box-fat-v2-order-call__borderColor--hover: #2363D1; /* обводка */

    /* -----НИЖНОЕ МЕНЮ-----  */
    --h-fat-v2-bottom__bg: #000000; /* фон */

    /* ПУНКТЫ В НИЖНЕМ МЕНЮ */
    --fat-v2-nav-ul-li-a__color: #fff; /* цвет текста */

    /* ПОСЕЛ ХОВЕРА - ПУНКТЫ В НИЖНЕМ МЕНЮ */
    --fat-v2-nav-ul-li-a__bg--hover: #222222; /* фон */
    --fat-v2-nav-ul-li-a__color--hover: #fff; /* цвет текста */

    /* АКТИВНЫЙ - ПУНКТЫ В НИЖНЕМ МЕНЮ */
    --fat-v2-nav-ul-li-a__color--active: #2363D1; /* цвет текста */

    /* ВЫПАДАЮЩИЕ - ПУНКТЫ В НИЖНЕМ МЕНЮ */
    --fat-v2-nav-ul-li-ul-li__bg: #222222; /* фон */
    --fat-v2-nav-ul-li-ul-li-a__color: #fff; /* цвет текста */

    /* ХОВЕР - ВЫПАДАЮЩИЕ - ПУНКТЫ В НИЖНЕМ МЕНЮ */
    --fat-v2-nav-ul-li-ul-li-a__color--hover: #2363D1; /* цвет текста */
    --fat-v2-nav-ul-li-ul-li__bg--hover: #333333; /* фон */

    /* ДРУГИЕ ПУНКТЫ В НИЖНЕМ МЕНЮ (выйти, корзина...) */
    --fat-v2-options-ul-li-a_color: #fff; /* цвет текста */

    /* ПОСЛЕ ХОВЕРА - ДРУГИЕ ПУНКТЫ В НИЖНЕМ МЕНЮ (выйти, корзина...) */
    --fat-v2-options-ul-li-a_color--hover: #fff; /* цвет текста */
}